{% extends "layout.html" %}
{% block title %}曲の追加 - {{super()}}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<main class="form-signin col-9 mx-auto">
	<form method="POST" action="./post/">
		<h4 class="h4 my-2 fw-normal">追加する曲の情報を入力してください。</h4>
		<div class="form-floating">
			<input type="text" class="form-control" id="floating_model" name="model" required>
			<label for="floating_model">機種名</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" id="floating_title" name="title" required>
			<label for="floating_title">曲名</label>
		</div>
		<div class="form-floating">
			<input type="text" class="form-control" id="floating_pass" name="password">
			<label for="floating_pass">編集/削除パス(漏洩してもいいものだけ使ってください)</label>
		</div>
		<button class="btn btn-lg btn-primary w-100 mt-2" type="submit">決定</button>
	</form>
</main>
{% endblock %}