{% extends "layout.html" %}
{% block title %}{{title}}/{{ir_title}} - {{super()}}{% endblock %}

{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if message == '正常に登録されました。' %}
<div class="alert {{category}} rounded" role="alert">
	{{message}}
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{tweet}}" data-url=" "
		data-show-count="false">Tweet</a>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% else %}
<div class="alert {{category}} rounded" role="alert">
	{{message}}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
{% block content %}
<div class="d-grid justify-content-md-start col-9  mx-auto my-2">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/rankings/">IR一覧</a></li>
			<li class="breadcrumb-item"><a href="./../../../">{{ir_title}}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
		</ol>
	</nav>
</div>
<div class="text-center my-2">
	<h4>{{ir_title}}</h4>
	<h4>{{model}}</h4>
	<h1>{{title}}</h1>
</div>
<div class="d-grid justify-content-md-end col-9  mx-auto my-2">
	<button class="btn btn-primary" type="button" onclick="location.href='./export/'" class="btn btn-primary">
		データをcsvに書き出す</button>
</div>
{% if now < date_start %} <h4 class="text-center">まだ{{ir_title}}は始まっていません。</h4>
	{% elif date_end < now %} <h4 class="text-center">{{ir_title}}は終了しました。</h4>
		{% elif session['id'] is defined %}
		<div class="d-grid gap-2 col-9 my-2 mx-auto">
			<button class="btn btn-primary" type="button" onclick="location.href='./../add_submission/'"
				class="btn btn-primary">+
				新しい提出を追加する</button>
		</div>
		{% else %}
		<div class="d-grid gap-2 col-9 my-2 mx-auto">
			<button class="btn btn-primary" type="button" onclick="location.href='./../add_submission/'"
				class="btn btn-primary" disabled>+
				新しい提出を追加する</button>
		</div>
		{% endif %}
		<div class="container">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>プレイヤー名</th>
							<th>所属</th>
							<th>スコア</th>
							<th>コメント</th>
							<th>編集</th>
							<th>削除</th>
						</tr>
					</thead>
					<tbody>
						{% for i in all_submissions %}
						<tr>
							<th>{{i.name}}</th>
							<th>{{i.belongs}}</th>
							<th><a href={{i.url}}>{{i.score}}</a></th>
							<th>{{i.comment}}</th>
							<th>
								{% if session['id'] is defined %}
								<a href="./{{i.id}}/modify/">編集</a>
								{% endif %}
							</th>
							<th>
								{% if session['id'] is defined %}
								<a href="./{{i.id}}/delete/">削除</a>
								{% endif %}
							</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endblock %}