{% extends "layout.html" %}
{% block title %}
全てのランキング - {{super()}}
{% endblock %}

{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {{category}} rounded" role="alert">
	{{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
{% if session['id'] is defined %}
<div class="d-grid gap-2 col-9 mx-auto">
	<button class="btn btn-primary my-2" type="button" onclick="location.href='./add_ranking/'"
		class="btn btn-primary">+
		新しいIRを作成する</button>
</div>
{% else %}
<div class="d-grid gap-2 col-9 mx-auto">
	<button class="btn btn-primary my-2" type="button" onclick="location.href='./add_ranking/'"
		class="btn btn-primary" disabled>+
		新しいIRを作成する</button>
</div>
{% endif %}
<div class="container">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>IR名</th>
					<th>開催日時</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
			</thead>
			<tbody>
				{% for i in all_ir %}
				<tr>
					<th><a href="./status/{{i.ir_id}}">{{i.title}}</th>
					<th>{{i.date_start}}~{{i.date_end}}</th>
					<th>
						{% if session['id'] is defined %}
						<a href="./status/{{i.ir_id}}/modify/">編集</a>
						{% endif %}
					</th>
					<th>
						{% if session['id'] is defined %}
						<a href="./status/{{i.ir_id}}/delete/">削除</a>
						{% endif %}
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}