{% extends "layout.html" %}
{% block title %}FAQs - {{super()}}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="mx-1">
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">起動遅くないですか？</h5>
			<p class="card-text">仕様です。どうしようもないです。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">編集/削除パスの入力がだるいです</h5>
			<p class="card-text">
				twitter認証をやめたので、その代わりだと思って勘弁してください。すみません。SSLへの対応が面倒そうだったからです。(2022/01/31追記:Heroku、pythonanywhereはSSL対応だったんですけど、個人情報を扱いたくないのでやっぱりTwitter認証は入れないと思います。)
			</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">編集/削除パスは何を使えばいいですか？</h5>
			<p class="card-text">
				適当なランダム文字列を生成してくれるサイトがあるので、生成された乱数を使ったり、ハンドルネーム(の一部)を使ったりするとよいでしょう。個人情報や他のサイトに使っているパスワードなど、漏洩したらまずいものは<b>絶対に</b>利用しないでください。上と同じ理由なので勘弁してください。
			</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">編集できないんだけど？</h5>
			<p class="card-text">
				まだ実装していません。かなり優先度低めです。すみません。(2022/01/31追記:実装しました!)
			</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">入力が不正ですと怒られました</h5>
			<p class="card-text">
				開始時刻が終了時刻より前に来ていないと怒られます。時間は指定した日の00:00:00となるので、〇月いっぱいの開催にしたいときには次の月の1日を設定するとよいです。
			</p>
		</div>
	</div>
</div>
{% endblock %}