{% extends "layout.html" %}
{% block title %}トップページ - {{super()}}{% endblock %}
{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {{category}} rounded" role="alert">
	{{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
{% block content %}
<div class="text-center my-5">
	<h1>IR支援ツール(仮)にようこそ!</h1>
	<h4 class="text-muted">ここはIR支援ツールのトップページです。</h4>
	<h5>まずはFAQsをお読みください。</h5>
</div>
{% endblock %}