{% extends "layout.html" %}
{% block title %}FAQs - {{super()}}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.4(2022/06/15)</h5>
			<p class="card-text">とりあえず、リザルト投稿後にツイート画面に遷移できる機能を実装。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.3.2(2022/05/19)</h5>
			<p class="card-text">パンくずリストの実装。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.3.1(2022/04/24)</h5>
			<p class="card-text">APIを実装。/api/contest/と、/api/contest_detail/[id]/でアクセス可能。軽微な見た目の変更。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.3(2022/03/04)</h5>
			<p class="card-text">フラッシュメッセージのハイライトを細分化。名前を正式決定。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.2(2022/02/05)</h5>
			<p class="card-text">ログイン機能の実装。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.11(2022/02/01)</h5>
			<p class="card-text">曲一覧を機種名でソート。noindexの追加。</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.1(2022/01/31)</h5>
			<p class="card-text">編集、csv出力の実装。安定版？</p>
		</div>
	</div>
	<div class="card rounded">
		<div class="card-body">
			<h5 class="card-title">v1.0(2022/01/26)</h5>
			<p class="card-text">公開。編集機能は未実装。</p>
		</div>
	</div>
</div>
{% endblock %}